.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 25px 50px;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
