.radio {
    margin-right: 10px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    font-size: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
