.buttonsContainer {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0 25px 50px;
}

.editableSpanContainer {
    width: 350px;
    padding: 25px 50px;
}