.buttonsContainer {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.clock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 50px;
}

.watch {
    width: 350px;
    font-size: large;
}

.watch strong {
    padding: 15px 0;
}

.more {
    width: 350px;
    font-size: small;
    opacity: 0.5;
    padding: 0 0 20px 0;
}